html, body {
        background-color: #FAFAFA
      }
      table {
        border: 2px solid #000000;

      }
      td {
        border: 1px solid #000000;
        text-align: center;
        vertical-align: middle;
        font-size: 22px;
        font-family: "Times New Roman", Times, serif;
        background-color: #EEEEEE;
      }

      .child  {
      border-right:solid ;
    }

    td:font{
        font-size:40px;
    }

      input {
        color: #000000;
        padding: 0;
        border: 0;
        text-align: center;
        width: 48px;
        height: 48px;
        font-size: 24px;
        background-color: #FFFFFF;
        outline: none;
      }
      input:disabled {
        background-color: #EEEEEE;
      }


.center {
    text-align: center;
    vertical-align: middle;
}


