
{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}

<div class="container">
  <img class="img_index" src="https://uploads.guim.co.uk/2018/04/12/Sudoku_4035_easy.jpg" >
  <h2>Choose between</h2>
  <div class="btn-group">
    <div class="form-group">
    <form action="{{ url_for('levels') }}" method ="POST">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Singleplayer</button>
    </form>
    </div>
    <div class ="form-group">
    <form action="{{url_for('multiplayer') }}" method ="POST">
      <button type="submit" class="btn btn-secondary btn-lg btn-block">Multiplayer</button>
    </form>
    </div>
  </div>
</div>


<!--<form action="{{ url_for('levels') }}" method ="POST">-->
<!--  <div class="form-group">-->
<!--    <button class="btn btn-default" type="submit">Singleplayer</button>-->
<!--  </div>-->
<!--</form>-->
<!--<form action="{{url_for('multiplayer') }}" method ="POST">-->
<!--  <div class="form-group">-->
<!--    <button class="btn btn-default" type="submit">Multiplayer</button>-->
<!--  </div>-->
<!--</form>-->
{% endblock %}

