{% extends "layout.html" %}

{% block title %}
    Levels
{% endblock %}

{% block main %}
<div class="container">
    <table>
        <h1>Sudoku Level</h1>
                <div class="btn-group">
                    <form action="looks " method ="POST">
                        <tr>
                          <td> <button class="btn btn-default" type="submit" name = level value = Simple>Simple</button></td>
                          <td><button class="btn btn-default" type="submit" name = level value = Easy>Easy</button></td>
                          <td><button class="btn btn-default" type="submit" name = level value = Intermediate>Intermediate</button></td>
                          <td><button class="btn btn-default" type="submit" name = level Value = Expert>Hard</button></td>
                    </form>
                </div>
    </table>
</div>



{% endblock %}

