



    <div class="container">

      <h1>Sudoku Board</h1>

          <fieldset>
          <table id="table">
            <div class="form-group">
              <button name="simple" class="btn btn-default"  type="submit" value="Simple">Simple</button>

              <button name="simple" class="btn btn-default" type="submit" value="Easy">Easy</button>

              <button name="simple" class="btn btn-default" type="submit" value="Intermediate">Intermediate</button>

              <button name="simple" class="btn btn-default" type="submit" value="Expert">Expert</button>
            </div>
          </fieldset>
        </form>
        <br>