<!DOCTYPE html>
<html lang="en">
  <head>
    <script type = "text/javascript" src="static/achtergrond.js"></script>
    <script type = "text/javascript" src="static/timer.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HTML Sudoku Board</title>

    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">

    <!--<link rel="stylesheet" type="text/css" href="stylesheet.css">-->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!--<script type = "text/javascript" src="/java-script/isnumber.js"></script>-->
  </head>
  <body>

    <div class="container">
      <h1>Kies een niveau:</h1>
      <form action="looks" method ="POST">
      <input type= "submit" class="et_pb_button" value="Simple" name="level">
      <input type= "submit" class="et_pb_button" value="Easy" name="level">
      <input type= "submit" class="et_pb_button" value="Intermediate" name="level">
      <input type= "submit" class="et_pb_button" value="Expert" name="level">

      </form>
    </div>

  </body>

</html>


