<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HTML Sudoku Board</title>

    <link rel="stylesheet" type="text/css" href="static/stylesheet.css">

    <link rel="stylesheet" type="text/css" href="stylesheet.css">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>

    <div class="container">

      <h1>Sudoku Board</h1>


      <table id="table">
        <div class="form-group"> <button name="simple" class="btn btn-default" type="submit">Simple</button></div>
        <div class="form-group"> <button name="simple" class="btn btn-default" type="submit">Easy</button></div>
        <div class="form-group"> <button name="simple" class="btn btn-default" type="submit">Intermediate</button></div>
        <div class="form-group"> <button name="simple" class="btn btn-default" type="submit">Expert</button></div>

        <br>

          <!--als je dingen wilt bijvoegen gebruik dan, value ="getal" en dan disabled-->

        {% for j in ran %}
          <tr>
            {% for p in ran %}
              {% if cijfers[j][p] == " " %}
                <td class="center"><input type="text" maxlength="1" >{{ cijfers[j][p] }}</td>
              {% else %}
                <td class="center" disabled>{{ cijfers[j][p] }}</td>
              {% endif %}

            {% endfor %}

          </tr>
        {% endfor %}


      <!--I had a similar problem using Flask, but I did not have to resort to JSON. I just passed a list letters = ['a','b','c'] with render_template('show_entries.html', letters=letters), and set-->
      <!--var letters = {{ letters|safe }}-->
      <!--in my javascript code. Jinja2 replaced {{ letters }} with ['a','b','c'], which javascript interpreted as an array of strings.-->
      <table id="grid">


        <tr>
          <!--als je dingen wilt bijvoegen gebruik dan, value ="getal" en dan disabled-->
          {% for cijfer in sudoku[:9] %}
          {% if cijfer == type(int)}
          <td><input id="0"  type="text" value= {% cijfer %} disabled></td>
          {%else%}
          <td><input id ="2" type ="text"></td>


        </tr>

      </table>

    </div>

  </body>

  <script src="Javascript/isnumber.js"></script>

</html>