{% extends "layout.html" %}


{% block title %}
    Sudoku
{% endblock %}

{% block main %}


<div class="container">
    <div class="row">
      <h2>SUDOKU BOARD</h2>
    </div>
    <div class="btn-group">
      <form action="{{url_for("checking") }}" method ="POST">
        <input type="submit" class="btn btn-secondary btn-lg btn-block" value="Finished" name="done">
    </div>
    <div class="row">
      <h4>
        Press the button when you're done!
      </h4>
    </div>
        <table id=sudokutable>
          <!--ran = 9 -->
          {% for j in ran %}
            <tr id="sudokutr">
              {% for p in ran %}
                {% if cijfers[j][p] == " " %}
                  <td id="sudokutd">
                    <input id="sudokuinput" name ="{{ j }} - {{ p }}" class="input" type="text" autocomplete="off"
                    oninput="this.value = this.value.replace(/[^1-9]/g, '').replace(/(\..*)\./g, '$1');" onKeyPress="if(this.value.length==1) return false;"/>{{ cijfers[j][p] }}
                  </td>
                {% else %}
                  <td id="sudokutd" disabled>{{ cijfers[j][p] }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
      </form>
</div>

{% endblock %}