<!DOCTYPE html>
<html lang="en">
  <head>
    <script type = "text/javascript" src="static/achtergrond.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>HTML Sudoku Board</title>

    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">

    <!--<link rel="stylesheet" type="text/css" href="stylesheet.css">-->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

    <div class="container">

      <h1>Sudoku Board</h1>
      <h4>When you are done with the game, press this button:</h4>
        <form action="index.html"><button name="done" class="btn btn-default" type="submit" onclick=>Done</button></form>
      <br>

          <!--als je dingen wilt bijvoegen gebruik dan, value ="getal" en dan disabled-->
      <table id="table" width="400">
        {% for j in ran %}
          <tr>
            {% for p in ran %}
              {% if cijfers[j][p] == " " %}
                <td >
                  <form><input name ="cijfer" class="input" type="number" maxlength="1" min="1" max="9" onKeyPress="if(this.value.length==1) return false;"/>{{ cijfers[j][p] }}</form>
                </td>
              {% else %}
                <td class="center" disabled>{{ cijfers[j][p] }}</td>
              {% endif %}

            {% endfor %}

          </tr>
        {% endfor %}
      </table>



      <!--I had a similar problem using Flask, but I did not have to resort to JSON. I just passed a list letters = ['a','b','c'] with render_template('show_entries.html', letters=letters), and set-->
      <!--var letters = {{ letters|safe }}-->
      <!--in my javascript code. Jinja2 replaced {{ letters }} with ['a','b','c'], which javascript interpreted as an array of strings.-->
      <!--<table id="grid">-->

    </div>

  </body>

</html>